@model MeatGrinder.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-50381583-1', 'auto');
    ga('send', 'pageview');

</script>

<div class="center">
    <img src="~/Images/logo-large.png" width="350" style="margin-top: 10px;" />
    <h5>Don't just plan goals, complete them!</h5>
</div>

<div class="center" style="margin-top: 20px;">
    @using (Html.BeginForm("Register", "Home"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div>Register</div>
        <table class="table-center">
            <tr>
                <td class="text-left">
                    @Html.LabelFor(model => model.AccountName, "Account Name")
                </td>
                <td>
                    @Html.EditorFor(model => model.AccountName)
                    @Html.ValidationMessageFor(model => model.AccountName)
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    @Html.LabelFor(model => model.EmailAddress, "Email Address")
                </td>
                <td>
                    @Html.EditorFor(model => model.EmailAddress)
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    @Html.LabelFor(model => model.Password)
                </td>
                <td>
                    @Html.PasswordFor(model => model.Password)
                </td>
            </tr>
        </table>
        
        <p style="margin-top: 20px;">
            <input class="btn btn-primary" type="submit" value="Register"/>
            <a href="/Home/Landing" class="btn">Cancel</a>
        </p>
    }
</div>

<script type="text/javascript">
    function LoginViewModel() {
        var self = this;
    };

    ko.applyBindings(new LoginViewModel());
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
